<!-- <ng-sidebar-container
       
        (onBackdropClicked)="_onBackdropClicked()">
      <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onTransitionEnd)="_onTransitionEnd()"
        >
        <div style="background-color:grey !important; border-style: solid;border-width: 1px;height:300px;">
        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
        <p>Data table</p>
        </div>
      
      </ng-sidebar>
      <div ng-sidebar-content>
        <header class="demo-header">
          <button (click)="_toggleOpened()" class="demo-header__toggle">Open</button>
         
        </header>
      
      </div>
    </ng-sidebar-container> -->
    <div class="container">
    <div class="row">
     <div class="col-md-12">
        <ngx-datatable  #table class="material" [headerHeight]="54" [rows]="rows" [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [count]="true"
        [limit]="3"
        [sorts]="[{prop: 'userId', dir: 'asc'}]" 
        >
        <ngx-datatable-column prop="userId" [flexGrow]="1">
          <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
            User Id
            <br>
            <input
            type='text'
            id="name"
            placeholder='Filter..'
            (keyup)='filterData($event)'
          />
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column prop="firstName" [flexGrow]="1">
            <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
                First Name
                <br>
                <input
                type='text'
                id="name"
                placeholder='Filter..'
                (keyup)='filterData($event)'
              />
              </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column  prop="lastName" [flexGrow]="1">
          <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
            Last Name
            <input type="text"   #Name placeholder="" class="table-filter form-control  form-control-sm" (keyup)='updateFilter($event, "Company")' />
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  prop="email" [flexGrow]="1">
            <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
              Email Id
              <input type="text"   #Name placeholder="" class="table-filter form-control  form-control-sm" (keyup)='updateFilter($event, "Company")' />
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  prop="phone" [flexGrow]="1">
              <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
                Phone
                <input type="text"   #Name placeholder="" class="table-filter form-control  form-control-sm" (keyup)='updateFilter($event, "Company")' />
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  prop="address" [flexGrow]="1">
                <ng-template let-value="value" let-sort="sortFn" ngx-datatable-header-template>
                  Address
                  <input type="text"   #Name placeholder="" class="table-filter form-control  form-control-sm" (keyup)='updateFilter($event, "Company")' />
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
     
      </ngx-datatable>
    
     </div>

    </div>

    </div>